<br/>
<h1>The amazing color generator</h1>
<p>It makes <strong>pastel colors</strong> based on your string !</p>
<br/><br/>
<form onSubmit="changeColor(event)">
	<p><label>Try it with some text :</label></p>
	<p><input id="string" name="string" minlength="4" autofocus required></p>
	<p><button>Generate a color !</button></p>
</form>
<br/>
<div id="result"></div>

</br></br></br></br>
<a id="gitlab" target="_blank" href="https://gitlab.com/AntoninGrele/string-to-color">
<div id="gitlab-text">Get the code on</div>
<img id="gitlab-logo" src="gitlab-logo-gray-rgb.svg"/>


<style>

body {
	font-family: "Trebuchet MS", sans-serif;
	text-align: center;
	color: #444;
}

input {
	border: none;
	border-bottom: 2px solid rgba(0,0,0,.1);
	background-color: rgba(255,255,255,.15);
	text-align: center;
	padding: .5rem 1rem;
	width: 32rem;
	max-width: 100%;
	font-family: inherit;
}

button {
	padding: .5rem 1rem;
	border: 1px solid rgba(0,0,0,.1);
	background-color: rgba(255,255,255,.15);
	border-radius: .25rem;
}

#gitlab { text-decoration: none; }
#gitlab-text { color: rgb(154,160,169); margin-bottom: -.5rem;}
#gitlab-logo { height: 4rem; }

</style>

<script>

function qS(query) { return document.querySelector(query) }

function hashCode(str) {
	return str.split('').reduce((prevHash, currVal) =>
	(((prevHash << 5) - prevHash) + currVal.charCodeAt(0))|0, 0);
}

function changeColor(event) {
	event.preventDefault()
	var string = qS('#string').value
	var number = Math.abs(hashCode(string)).toString().padStart(3, "0")
	var code = parseInt(number.slice(6,9)) % 360
	var color = `hsl(${code}, 100%, 90%)`
	qS('#result').innerHTML = "Your color is <strong>" + color + "</strong> !"
	qS('body').style.backgroundColor = color
}

</script>